.todo-list{
    font-size: large;
    list-style-type: none;
    & > li{
        cursor: pointer;
    }
    & >li.completed {
        text-emphasis-color: gray;
        font-weight: bold;
        font-style: inherit;    
        text-decoration: line-through;
        color: bisque;
    }
}