@import url("https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&family=Fjalla+One&family=Italianno&family=Pacifico&family=Sansita+Swashed:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100;0,200;1,100;1,200&family=Vollkorn+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .btn-main {
    @apply bg-sky-600 hover:bg-sky-700 px-5 py-3 text-white rounded-lg;
  }
} */
@layer components {
  .App .active {
    & h1 {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-size: large;
      font-weight: bold;
    }
  }

  .tw-menu-item-show {
    @apply absolute lg:relative  w-full flex-col text-center lg:flex-row z-50 top-10 lg:top-0 bg-white lg:bg-transparent;
  }

  /* tailwind : tw ddawt ten class */
  .tw-top-menu-item {
    @apply cursor-pointer py-1 relative hover:text-red-400 
                              after:lg:h-0.5 after:lg:w-0 hover:after:lg:w-full after:lg:transition-all
                               after:lg:bg-red-300 after:lg:absolute after:lg:bottom-0 after:lg:right-0;
  }

  .tw-badge-item {
    @apply rounded-full text-white text-xs text-center px-1.5;
  }

  .tw-icon {
    @apply w-6 h-6;
  }

  .tw-name-main {
    @apply text-2xl md:text-3xl lg:text-5xl text-white mx-4 font-dancing tracking-wider text-center;
  }
  .tw-count-down-time-block-item {
    @apply w-16 h-auto mx-3  bg-opacity-30 border border-b-2 flex flex-col border-white border-spacing-4 rounded-md;
  }
  .tw-text-item {
    @apply text-xl  bg-white w-full font-cuprum  text-red-300 rounded-b-sm;
  }

  .tw-number-item {
    @apply text-xl h-[1/2] py-1 text-white font-cuprum font-bold;
  }

  .isInvitation {
    @apply bg-red-100 text-red-400;
  }

  .isIntroduce {
    @apply bg-orange-200 text-white;
  }

  .isNomarl {
    @apply text-red-300 border border-b-2 border-b-love-60;
  }

  .isMoments {
    @apply text-white bg-vitange_green-40;
  }

  .tw-dinhamroi-banoi {
    @apply h-[100vh] w-full bg-red-200 text-2xl font-dosis text-center relative flex flex-col justify-center items-center;
  }

  .matcha {
    background-color: #ece3ce;
  }
  /* *,html {
    @apply scroll-smooth scroll-pt-10;
  } */
  /* html:focus-within {
  scroll-behavior: auto | smooth;
} 
  .root{
    @apply scroll-smooth scroll-pt-10
  } */

  html {
    @apply scroll-smooth;
  }

  /* .root {
    @apply scroll-smooth;
  } */
}
